
html{
        font-family: 'Montserrat';
        color: $color-black;
}
.title-2{
    font-size: 80px;
    font-family: 'Anticva';
    background: $radial-blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}
.bold{
    font-weight: 500;
}
.light{
    font-weight: 300;
}
@media(max-width:1600px){
    .title-2{
        font-size: 65px;
        background: radial-gradient(circle, #add6ff 0, #141e28 11%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media(max-width:1200px){
    .title-2{
        font-size: 45px;
    }
}