$color-white: #FFFFFF;
$color-black: #232323;
$color-light-gray: #F0F0F0;
$color-blue: #1C354E;
$color-gold:#C8AE94;
$linear-gold:linear-gradient(90deg,rgba(196, 168, 142, 1) 0%, rgba(237, 208, 180, 1) 49%, rgba(196, 170, 145, 1) 100%);
$radial-blue:radial-gradient(circle,rgba(173, 214, 255, 1) 0%, rgba(20, 30, 40, 1) 25%);
$radial-white:radial-gradient(circle,rgba(173, 214, 255, 1) 0%, #F0F0F0 85%);